{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'file.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>EDUCATIONS | Patilele</title>
  <style>
    .myedu{
      background: url('/static/photo/laptop.jpg') no-repeat;
      background-size: cover;
      height:fit-content;
      background-attachment: fixed;
    }
    h2{
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: 500;
      color: white;
    }
  
    h4{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 100;
        color:lawngreen;
    }
  
    .edctn{
        padding-top: 70px;
        padding-left: 7%;
    }
  
    .institute{
        padding-left: 20%;
    }
  
    .verticalLine{
        border-left: thick solid lawngreen;
    }
    </style>
  </head>
  <body class="myedu">
      <nav class="nav__links">
        <div class="menubar">
            <a class="navbar-brand" href="/"><img src="{% static 'photo/house-icon-white-22.jpg' %}" style="width:30px;height:30px;"></a>
            <ul class="button">
                <li><a href="/aboutme/">About Me</a></li>
                <li><a href="/experiences/">Experiences</a></li>
                <li><a href="/skills/">Skills</a></li>
                <li><a href="/schedule/"><Form:post>Schedule</Form:post></a></li>
            </ul>
        </div>    
      </nav>
      <div class="edctn">
          <div class="container">
              <p3>Education.<br><br></p3>
              <div class="institute">
                  <div class="col-md-12">
                      <h2>SDSN PONDOK KELAPA 03</h2>
                      <h4>ELEMENTARY SCHOOL<br><br></h4>
  
                      <h2>SMPN 252 JAKARTA</h2>
                      <h4>JUNIOR HIGH SCHOOL<br><br></h4>
                  
                      <h2>SMAN 81 JAKARTA</h2>
                      <h4>SENIOR HIGH SCHOOL<br><br></h4>
                  
                      <h2>COMPUTER SCIENCE, UNIVERSITY OF INDONESIA</h2>
                      <h4>UNDERGRADUATE BACHELOR'S DEGREE<br><br></h4>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="verticalLine"></div>
     
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  
</html>