{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      .exprnc{
        background: url('/static/photo/fotomeja.jpg' ) no-repeat;
        background-size: cover;
        height:fit-content;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body class="exprnc">
      <nav class="nav__links">
        <div class="menubar">
            <a class="navbar-brand" href="/"><img src="{% static 'photo/house-icon-white-22.jpg' %}" style="width:30px;height:30px;"></a>
            <ul class="button">
                <li><a href="/aboutme/">About Me</a></li>
                <li><a href="/education/">Educations</a></li>
                <li><a href="/skills/">Skills</a></li>
                <li><a href="/schedule/"><Form:post>Schedule</Form:post></a></li>
            </ul>
        </div>          
      </nav> 
      <div class="container">
        <p3><br>Experiences.<br><br></p3>
        <div class="row">
            <div class="col-sm-4">
                    <h2>STAFF OF TRANSPORTATION AND VENUE</h2>
                    <h4>COMPFEST<br><br><br><br><br></h4>

                    <h2>STAFF OF OPERATIONAL</h2>
                    <h4>OLIM UI<br><br></h4>
                
            </div>
            <div class="col-sm-4">
                    <h2><br><br><br>STAFF OF SPONSORSHIP</h2>
                    <h4>COMPUTERS GET TOGETHER<br><br></h4>   

                    <h2><br><br><br>SIGNALLING, TELCO & IT</h2>
                    <h4>INTERN, PT MRT JAKARTA<br><br></h4>   
            </div>
            <div class="col-sm-4">
                    <h2><br><br><br><br><br>STAFF OF MATCH RUNNER</h2>
                    <h4>COMPUTER SCIENCE LEAGUE<br><br></h4>
                
            </div>
        </div>
        </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  
</html>