@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');

/* navbar's css */
.navbar-brand{
    padding-left: 20px;
}
.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}


.button li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    justify-content: space-between;
}

.menubar{
    box-sizing: border-box;
    margin: 0px;
    padding-top: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
   
}
    
/* homepage's css */
.homepage{
    background: url("Copy of DSC06667-1 (3).jpg") no-repeat;
    background-size: cover;
    height:fit-content;
    background-attachment: fixed;
}

.tulisan{
    padding-left: 5%;
    padding-top: 7%;
}

p{
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: bold;
    height: 200px;
    font-size: 150px;
    color: white;
    margin-bottom:5px;
    letter-spacing: 0.2em;    
}

p1{
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: bold;
    height: 200px;
    font-size: 150px;
    color: white;
    letter-spacing: 0.2em;
    margin-top:5px;
    line-height: 70px;
    
}

p2{
    font-family: "Montserrat";
    font-style: normal;
    font-size: 35px;
    color:white;
    width: 100%;
}

.socmed{
    padding-top: 30px;
    
}

.fa {
    padding-left: 0px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-instagram {
    background: transparent;
    color: white;
}

.fa-linkedin{
    background: transparent;
    color: white;
    
}

.fa-twitter{
    background: transparent;
    color:white;
}

/* aboutme's css */
.tentanggue{
    background: url("photo-1461696114087-397271a7aedc (2).jpg") no-repeat;
    background-size: cover;
    height:fit-content;
    background-attachment: fixed;
}

.deskripsi{
    padding-left: 100px;
    padding-top: 10%;
}

p4{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 16px; 
    text-align: justify;
    font-weight: 300;
}

p3{
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-top:5px;
    line-height: 70px; 
    letter-spacing: 0.2em;   
}

.rotateimg270{
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fotogue{
    padding-top: 50px;
    padding-left: 100px;
    
}

/* education's css */
.myedu{
    background: url("5304595-laptop-computer-macbook-iphone-sunglasses-potted-plant-data-programming-code-coding-workspace-work-table-mobile-phone-minimal-design-working-freelance-editor-programmer-developer-public-domain.jpg") no-repeat;
    background-size: cover;
    height:fit-content;
    background-attachment: fixed;
}

h2{
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 500;
    color: white;
}

h4{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    color:lawngreen;
}

.edctn{
    padding-top: 70px;
    padding-left: 7%;
}

.institute{
    padding-left: 20%;
}

 .verticalLine{
    border-left: thick solid lawngreen;
 }

 /* experiences's css */
 .exprnc{
    background: url("main-background-express-hire-1920x1200.jpg") no-repeat;
    background-size: cover;
    height:fit-content;
    background-attachment: fixed;
 }

 /* skill's css */
h3{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    color:white;
}

.myskills{
    background: url("new-york-black-and-white-skyline-photography-skyline-buildings-black-and-white-hd-wallpapers-in-skyline.jpg") no-repeat;
    background-size: cover;
    height:fit-content;
    background-attachment: fixed;
}

.container{
    width: 50%;
    margin: 0 auto;
}

@keyframes load{
    from {
      width: 0%
    }

}

@-webkit-keyframes load{
    from {
      width: 0%
    }

}

@-moz-keyframes load{
    from {
      width: 0%
    }

}

@-o-keyframes load{
    from {
      width: 0%
    }

}
  

.bar{
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}

.bar::before{
    content:  attr(data-skill);
    background-color: lawngreen;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;

}

.bar.front::before{
    background-color:lawngreen;

}

.bar.back::before{
    background-color: lawngreen;

}
  

.bar.learning::before{
    width: calc(20% - 10px);

}

.bar.basic::before{
    width: calc(40% - 10px);

}

.bar.intermediate::before{
    width: calc(60% - 10px);

}

.bar.advanced::before{
    width: calc(80% - 10px);

}

.bar.expert::before{
    width: calc(100% - 10px);

}
  
